@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:ital@1&display=swap");

/* RESET */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* body {
    color:black;
    background-color: antiquewhite;
}

.darkMode {
    color:antiquewhite;
    background-color: black;
} */

.nav-link {
    font-size: 2em;
} 
.main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1rem;
}

.logo__electricidad{
    width: 60px;
}
/* organizando main */

.div__inicio {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__parrafo{
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}

.materiales__section {
    display: flex;
    justify-content: space-around;
}

.materiales__article {
    width: 40%;
}

.materiales__sub{
    text-align: center;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    color: #fa8340;
    font-weight: 700;
}

.materiales__parrafo{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/* ESCRITOS */
.tituloPincipal{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    margin-bottom: 2rem;
    text-decoration:underline;
}

.tituloCard {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}

.precio{
    font-size: 1.7em;
}

.comprar{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.tipoElemento {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

/* DISTRIBUCION DE CAJAS */
.primeraSection{
    display: flex;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.2rem;
}
/* ORDEN Y EFECTO DE IMAGENES */
.card {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.menu__logo {
    width: 30px;
}
.logo{
    width: 70px;
}
.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.menu__titulo {
    color: #000000;
    font-size: 2.5em;
}

.img__catalogo {
    width: 300px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.productoEnCarrito {
    display: flex;
    justify-content: space-around;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

/* catalogo */
.catalogo__section {
    display: flex;
    justify-content: space-evenly;
}

.catalogo__btn {
    font-size: 2em;
    border-radius: 1rem;
}

.div__link{
    font-size: 2em;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.volver__inicio{
    text-align: center;
    color: #0000FF;
    font-size: 2em;
    text-decoration: none;
    font-weight: 600;
}
/* footer */
footer {
    display: flex;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    justify-content: space-around;
}

.footer__section{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.footer__div{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.footer__logo {
    width: 100px;
    height: 50px;
}

.footer__parrafo{
    margin-bottom: 0rem;
    font-size: 1.5em;
}

.footer__redes {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    padding-left: 0rem;
    list-style-type: none;
    margin-bottom: 0rem;
}