@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto:ital@1&display=swap");

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* body {
    color:black;
    background-color: antiquewhite;
}

.darkMode {
    color:antiquewhite;
    background-color: black;
} */

.nav-link {
    font-size: 2em;
} 
.main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 1rem;
}

.logo__electricidad{
    width: 60px;
}
/* organizando main */

.div__inicio {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__parrafo{
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}

.materiales__section {
    display: flex;
    justify-content: space-around;
}

.materiales__article {
    width: 40%;
}

.materiales__sub{
    text-align: center;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    color: #fa8340;
    font-weight: 700;
}

.materiales__parrafo{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/* ESCRITOS */
.tituloPincipal{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    margin-bottom: 2rem;
    text-decoration:underline;
}

.tituloCard {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
}

.precio{
    font-size: 1.7em;
}

.comprar{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.tipoElemento {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

/* DISTRIBUCION DE CAJAS */
.primeraSection{
    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
}

.catalogo__productos{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.2rem;
}
/* ORDEN Y EFECTO DE IMAGENES */
.card {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.menu__logo {
    width: 30px;
}

.logo__carrito{
    width: 70px;
}

.logo{
    width: 30px;
}

.btnBo{
    border: none;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.menu__titulo {
    color: #000000;
    font-size: 2.5em;
}

.img__catalogo {
    width: 300px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.productoEnCarrito {
    display: flex;
    justify-content: space-around;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

/* catalogo */
.catalogo__section {
    display: flex;
    justify-content: space-evenly;
}

.catalogo__btn {
    font-size: 2em;
    border-radius: 1rem;
}

.div__link{
    font-size: 2em;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.volver__inicio{
    text-align: center;
    color: #0000FF;
    font-size: 2em;
    text-decoration: none;
    font-weight: 600;
}
/* footer */
footer {
    display: flex;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    justify-content: space-around;
}

.footer__section{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.footer__div{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.footer__logo {
    width: 100px;
    height: 50px;
}

.footer__parrafo{
    margin-bottom: 0rem;
    font-size: 1.5em;
}

.footer__redes {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    padding-left: 0rem;
    list-style-type: none;
    margin-bottom: 0rem;
}


 /* html compras */
.body__compras{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background: #f6f5f7
}

.parrafo__compra{
    text-align: center;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    color: #000000;
}

.compra__section{
    display: flex;
    justify-content: space-around;
}

.compra__articulo{
    width: 30%;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.articulo__img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.contacto__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    font-size: 2em;
    border: solid 1px;
    padding: 1rem;
    border-radius: 10px;
}

.parrafo__form{
    text-align: center;
    font-family: "Roboto", sans-serif;
}


/* estilos login */
.registrarse{
    text-decoration: none;
    font-size: 2em;
}

.main__login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    background: linear-gradient(to top, #3498db, #2c3e50);

}

.loginSub{
    font-size: 3em;
}

.main__parrafo{
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    color: #f6f5f7;
}

.registrarse__form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3em;
}

.registrarse__section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

.form__span{
font-size: 1.5em;
}

/* toastify */
.toastify{
font-size: 2em;
}

@media screen and (max-width: 480px){
/* nav */
.logo__electricidad{
    width: 45px;
}
.logo__carrito{
    width: 40px;
}
/* login */
.main__parrafo {
    font-size: 2em;
    text-align: center;
}
.main__div{
    width: 90%;
}
.main__login{
    gap: 5rem;
}
.registrarse__section{
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-bottom: 8rem;
    gap: 3rem;
}
.loginSub{
    font-size: 2.6em;
}
/* footer */
.footer__section {
    width: 100%;
    flex-direction: column;
}
.footer__div{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 0rem;
}
.footer__parrafo{
    font-size: 1.1em;
}
.footer__redes{
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.footer__logo{
    width: 50px;
    height: 20px;
}
.img__footer{
    width: 20px;
}

/* home */
.main{
    gap: 1rem;
}
.div__parrafo{
    font-size: 1.2em;
}
.div__link{
    font-size: 1.6em;
    display: none;
}
.materiales__section{
    flex-direction: column-reverse;
    gap: 2rem;
}
.materiales__article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    width: 100%;
    height: 300px;
}
.materiales__sub{
    font-size: 1.6em
}
.materiales__parrafo{
    font-size: 1.1em;
    width: 85%;
}
.catalogo__section{
    margin-bottom: 1.2rem;
}
.primeraSection{
    margin-bottom: 2rem;
}
/* boton catalogo */
.catalogo__btn{
    font-size: 1.5em;
}
/* catalogo */
.img__catalogo{
    width: 250px;
}
.volver__inicio{
    display: none;
}
.catalogo__productos{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.card{
    display: flex;
    align-items: center;
}
.img__catalogo{
    width: 100px;
}
.tituloCard{
    font-size: 1.5em;
}
.tipoElemento{
    font-size: 1em; 
}
.precio {
    font-size: 1.2em;
}
.comprar{
    font-size: 1.5em;
}
.catalogo__productos {
    width: 70%;
}
/* toastify */
.toastify{
    font-size: 1em;
    }
}